PUBLIC_SITE_URL=https://mangadrop.online
ALADIN_TTB_KEY=

PUBLIC_ADSTERRA_BANNER_KEY=
PUBLIC_ADSTERRA_SOCIAL_KEY=
PUBLIC_ADSTERRA_PUSH_KEY=
PUBLIC_ADSTERRA_POPUNDER_KEY=
PUBLIC_ADSTERRA_MULTITAG_KEY=

AWS_REGION=us-east-1
AWS_ACCOUNT_ID=
